### Data Extraction

In [25]:
import zipfile

In [26]:
def extract_zip(zip_path, extract_path):
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(extract_path)

    print("Extraction terminée.")

In [27]:
!curl -L -o data/zip_data/ag-news.zip  https://www.kaggle.com/api/v1/datasets/download/amananandrai/ag-news-classification-dataset

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

  0 11.3M    0  6031    0     0   5584      0  0:35:39  0:00:01  0:35:38  5584
  3 11.3M    3  414k    0     0   254k      0  0:00:45  0:00:01  0:00:44  745k
 21 11.3M   21 2528k    0     0   962k      0  0:00:12  0:00:02  0:00:10 1629k
 39 11.3M   39 4608k    0     0  1270k      0  0:00:09  0:00:03  0:00:06 1806k
 57 11.3M   57 6736k    0     0  1455k      0  0:00:08  0:00:04  0:00:04 1896k
 75 11.3M   75 8864k    0     0  1574k      0  0:00:07  0:00:05  0:00:02 1947k
 92 11.3M   92 10.5M    0     0  1635k      0  0:00:07  0:00:06  0:00:01 2083k
100 11.3M  100 11.3M    0     0  1648k      0  0:00:07  0:00:07 --:--:-- 2053k

In [28]:
extract_zip('data/zip_data/ag-news.zip', 'data')

Extraction terminée.

### Data Preprocessing

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('data/train.csv')

In [31]:
df.head(10)

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
5,3,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...
6,3,Money Funds Fell in Latest Week (AP),AP - Assets of the nation's retail money marke...
7,3,Fed minutes show dissent over inflation (USATO...,USATODAY.com - Retail sales bounced back a bit...
8,3,Safety Net (Forbes.com),Forbes.com - After earning a PH.D. in Sociolog...
9,3,Wall St. Bears Claw Back Into the Black,"NEW YORK (Reuters) - Short-sellers, Wall Stre..."

In [32]:
df1 = pd.read_csv('data/test.csv')

In [33]:
df1.head(10)

,Class Index,Title,Description
0,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...
1,4,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o..."
2,4,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...
3,4,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...
4,4,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...
5,4,Open Letter Against British Copyright Indoctri...,The British Department for Education and Skill...
6,4,Loosing the War on Terrorism,"\\""Sven Jaschan, self-confessed author of the ..."
7,4,"FOAFKey: FOAF, PGP, Key Distribution, and Bloo...",\\FOAF/LOAF and bloom filters have a lot of i...
8,4,E-mail scam targets police chief,"Wiltshire Police warns about ""phishing"" after ..."
9,4,"Card fraud unit nets 36,000 cards","In its first two years, the UK's dedicated car..."

In [34]:
df.columns

Index(['Class Index', 'Title', 'Description'], dtype='object')

In [35]:
#rename columns
df.rename(columns={'Class Index': 'label', "Title":'title',"Description":'description'}, inplace=True)
df1.rename(columns={'Class Index': 'label', "Title":'title',"Description":'description'}, inplace=True)

In [36]:
#combine title and description and remove old columns

df['text'] = df['title'] + ' ' + df['description']
df.drop(['title', 'description'], axis=1, inplace=True)

df1['text'] = df1['title'] + ' ' + df1['description']   
df1.drop(['title', 'description'], axis=1, inplace=True)

In [37]:
df.columns

Index(['label', 'text'], dtype='object')

In [38]:
df.shape

(120000, 2)

In [39]:
df1.shape

(7600, 2)

In [40]:
#look for null values in df
df.isna().sum()

label    0
text     0
dtype: int64

In [41]:
#look for null values in df1 
df1.isna().sum()

label    0
text     0
dtype: int64

In [42]:
#show duplicated data from df1
duplicates = df1[df1.duplicated()]
print("Lignes dupliquées pour df1 :")
print(duplicates)

Lignes dupliquées pour df1 :
Empty DataFrame
Columns: [label, text]
Index: []

In [43]:
#show duplicated data from df
duplicates = df[df.duplicated()]
print("Lignes dupliquées pour df :")
print(duplicates)

Lignes dupliquées pour df :
Empty DataFrame
Columns: [label, text]
Index: []